In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.preprocessing import OneHotEncoder

In [81]:
data = pd.read_csv('Used_Bikes.csv')
data.head()

                              bike_name     price  ...  power          brand
0    TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1           Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                  Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                  TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha

[5 rows x 8 columns]

In [82]:
data['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [83]:
data = data.replace(['First Owner','Second Owner','Third Owner','Fourth Owner Or More'], [1, 2, 3, 4])
data.head()

                              bike_name     price  ...  power          brand
0    TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1           Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                  Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                  TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha

[5 rows x 8 columns]

In [84]:
y = data['price']
X = data.drop(['price'],axis = 1)

In [85]:
categorical = ['bike_name','city','brand']
numerical = ['kms_driven','owner','age','power']

In [86]:
# datanew = pd.get_dummies(data = data,drop_first = True)

OHE = OneHotEncoder()
Xmini = pd.DataFrame(OHE.fit_transform(X[categorical]).toarray())

In [87]:
Xmini.head()

   0    1    2    3    4    5    6    ...  930  931  932  933  934  935  936
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  1.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0

[5 rows x 937 columns]

In [88]:
X = pd.concat([data[numerical], Xmini], axis = 1)
X.head()

   kms_driven  owner  age  power    0    1  ...  931  932  933  934  935  936
0     17654.0      1  3.0  110.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0
1     11000.0      1  4.0  350.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  0.0  0.0
2       110.0      1  8.0  675.0  0.0  0.0  ...  0.0  0.0  0.0  1.0  0.0  0.0
3     16329.0      1  4.0  180.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0
4     10000.0      1  3.0  150.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  1.0  0.0

[5 rows x 941 columns]

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [90]:
tree = DecisionTreeRegressor()
tree.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [91]:
print('mean_squared_error   : ',mean_squared_error(y_test,tree.predict(X_test)))
print('mean_absolute_error  : ',mean_absolute_error(y_test,tree.predict(X_test)))

mean_squared_error   :  667987006.3129488
mean_absolute_error  :  3092.1169984686067

In [92]:
forest = RandomForestRegressor(n_estimators=300,min_samples_split=2)
forest.fit(X_train,y_train)

print('mean_squared_error   : ',mean_squared_error(y_test,forest.predict(X_test)))
print('mean_absolute_error  : ',mean_absolute_error(y_test,forest.predict(X_test)))

mean_squared_error   :  562535483.4624269
mean_absolute_error  :  3091.1119836666935

In [93]:
def MAPE(X,y):
  mape = []
  for i,j in zip(y,X):
    mape.append(abs((i-j)/i))

  return (sum(mape)/len(mape))*100

print('DT mape : ',MAPE(tree.predict(X_test),y_test))
print('RF mape : ',MAPE(forest.predict(X_test),y_test))

DT mape :  3.470860212294559
RF mape :  3.3599510556772176

In [94]:
numerical

['kms_driven', 'owner', 'age', 'power']

In [99]:
l = ['TVS Star City Plus Dual Tone 110cc','Ahmedabad','TVS']
l2 = [17654,1,3,110]

a = pd.DataFrame(OHE.transform(pd.DataFrame(np.array(l).reshape(-1,len(l)))).toarray())
a = pd.concat([pd.DataFrame(np.array(l2).reshape(-1,len(l2))),a],axis=1)
print(forest.predict(a))

[38413.73666667]

In [96]:
a

     0    1    2    3    4    5  ...  935  936  kms_driven  owner  age  power
0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0     17654.0    1.0  3.0  110.0

[1 rows x 941 columns]

In [97]:
pd.DataFrame(np.array(l).reshape(-1,len(l)))

                                    0          1    2
0  TVS Star City Plus Dual Tone 110cc  Ahmedabad  TVS